:root {
  --color-red-light: #f23c3c;
  --color-red-dark: #ca3434;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #dadada;
  --color-gray-300: #b4b4b4;
  --color-gray-400: #919191;
  --color-gray-500: #616161;
  --color-gray-600: #555555
  --color-gray-700: #434343;
  --color-gray-800: #3a3a3a;
  --color-gray-900: #2b2b2b;
}
