@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "DM Serif Display", serif;
  font-family: "Inter", sans-serif;
  @apply bg-primary w-full min-h-screen duration-500;
}

* {
  box-sizing: border-box;
  /* @apply duration-75; */
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-lg my-2 font-semibold xl:text-2xl;
  }

  h3 {
    @apply font-semibold;
  }

  a {
    @apply text-red-light underline hover:text-red-dark;
  }
}

@layer components {
  .card {
    @apply bg-secondary p-4 rounded duration-200 transition-colors;
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-white dark:bg-black;
  }
  .bg-secondary {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .border-primary {
    @apply border-gray-900 dark:border-white;
  }

  .border-secondary {
    @apply border-gray-200 dark:border-gray-600;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .fill-primary {
    @apply fill-black dark:fill-white;
  }
}
